body{background-color:#2c2c2c;}.picture{background: url('../img/background-picture.png') no-repeat;background-size: cover;}
.picture img{padding: 28px;}.name h1{padding-top: 25px;font-family:'Bebas Neue',sans-serif;font-size:5em;}
.portfolio-info h3{font-family:'Bebas Neue',sans-serif;}section.header{background: #222222;padding-top:50px;padding-bottom: 70px;}
section.content{padding-top:50px;padding-bottom:50px;}.my-portfolio{margin-bottom: 50px;}
.my-portfolio .my-portfolio-title{font-family:'Bebas Neue',sans-serif;font-size:2em;margin-bottom: 30px;}
.my-portfolio .my-portfolio-body{}::-webkit-scrollbar { width: 10px; } ::-webkit-scrollbar-track { background: #222; } 
::-webkit-scrollbar-thumb { background: #ff8400; } ::-webkit-scrollbar-thumb:hover { background: #d37107; }
.portfolio-row{margin-bottom:25px;}.portfolio-row .title{font-family: 'Bebas Neue', sans-serif;font-size: 1.6em;
margin-bottom: 0px;}.interests i { display: block; text-align: center; font-size: 26px; background: #ff8400; border-radius: 100%;
	width: 70px; height: 70px; padding-top: 18px; margin: 0 auto; margin-bottom: 5px;}.interests{text-align:center;padding:20px;}
	footer.footer {height: 53px; line-height: 45px; background: #222; padding: 5px; text-align: center; }
	.social-media{color: white;margin:10px;font-size: 2em;}.social-media:hover{color: #ddd;transition: 0.5s;}